[Unit]
Description=Run Misskey RSS Bot every 15 minutes

[Timer]
OnCalendar=*:0/15
Unit=misskey-rss-bot.service
Persistent=true

[Install]
WantedBy=timers.target
